{% extends "layout.html" %}
{% set active_page = "admin/editfeed" -%}
{% block title %}Administration - Show Feeds{% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
  {% endif %}
{% endwith %}

<form method="post">
    <div class="form-group">
        <label for="feed_id">Feed Key:</label>
        <input class="form-control disabled" type="text" id="feed_id" name="feed_id" disabled value="{{ id}}" /><br />

        <label for="site">Source Site:</label>
        <input class="form-control" type="text" id="site" name="site" value="{{ feed["site"] }}" /><br />

        <label for="name">Feed Name:</label>
        <input class="form-control" type="text" id="name" name="name" value="{{ feed["name"] }}" /><br />

        <label for="description">Description:</label>
        <input class="form-control" type="text" id="description" name="description" value="{{ feed["description"] }}" /><br />

        <label for="uri">RSS Source:</label>
        <input class="form-control" type="text" id="uri" name="uri" value="{{ feed["uri"] }}" /><br />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}
